*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.main-header{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 9px;
    align-items: center;
    background-color: transparent;
    z-index: 1;
}
.leftside{
    display: flex;
    justify-content: space-around;
    
    align-content: center;
}
.leftside ul{
    display: flex;
    list-style: none;    
    gap: 40px;
    padding-right: 15%;
    
}
.leftside a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    transition: 0.3s;
}
.leftside h3{
    font-weight: 600;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
}
.rightside i {
    color:black;
    justify-content: right;
    cursor: pointer;
    font-size: 18px;
    
}
.rightside{
    padding-left: 76%;
    align-content: center;
    display: flex;
    gap: 24px;
}
.sidebar{
    flex:1;
        padding-top:20px ;
}
.sidebar-p1 {
 font-size: 16px;
 font-style: bold;


}
.productlist{
    padding-top: 90px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 180vh;
    background: white;

}

    
.stars{
    gap: 3;
    color:#6B6B6B;
    font-size: small;

}
.product h3{
    padding: 6px;
    color: #6B6B6B;
    font-size: small;

}
.product h2{
    padding: 6px;
    font-size:medium;

}
.product img{
    width: 245px;
    height: 246px;
    padding: 17px 0px;
}

.main-line{
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: 400;
    font-style: normal;
    color:#7E7E7E;
}

 

.footer {
    background: linear-gradient(to right, #2c2c2c, #1f1f1f);
    color: #ccc;
    padding: 60px 10%;
    height: 400px;
}
.footer-logo{
    font-size: 31px;
    font-weight: 700;
    font-weight: bold;
    color:#E9E9E9;
    padding-bottom: 60px;

}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 23%;
    min-width: 220px;
}

.logo {
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    transition: 0.3s;
}

.footer-column ul li a:hover {
    color: #ffffff;
    padding-left: 5px;
}

.contact {
    color: #aaa;
    font-size: 14px;
}